body{
    background-image: url("img/bgMain.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 5px;
    margin-top: 10px;
    background-color: #1B1A17;
    color: #EEEDDE;
    font-family: 'Ubuntu', sans-serif;
}

input{
    margin-left: 5px;
}

.team{
    height: 295px;
    width: 295px;
    margin: 10px;
    float: left;
    background-color: #E6D5B8;
    color: black;
    text-align: center;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.make{
    border-radius: 10px;
    background-color: #E45826;
    height: 30px;
    margin: 5px;
    margin-left: 10px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.make:hover{
    background-color: #C23604;
}

.options{
    clear: both;
    margin-top: 10px;
}

.team-items{
    margin-top: 97px;
}

.icon{
    font-size: 50px;
    margin: auto;
}

.group{
    margin: 1%;
    background-color: #E6D5B8;
    border-radius: 10px;
    color: black;
    padding: 1%;
    width: 16%;
    height: 10%;
    float: left;
}

.group h2{
    margin-top: 0px;
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 3px;
}

label{
    margin: 10px;
}

.zespName{
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    width: 200px;            
    transition: width 0.5s, height 0.5s, font-size 0.5s;
}

.gselect{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Roboto';
}

.selectTeam{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Roboto';
}

#topbar{
    font-size: 17px;
    height: 50px;
    background-color: #E45826;
    color: white;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
}

.navButton{
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #D34715;
    margin: 0;
    height: 100%;
    vertical-align: center;
    transition: background-color 0.5s ease-out 100ms
}

.navButton:hover{
    background-color: #C23604;
}

.greet{
    background-color: #D34715;
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    height: 100%;
    vertical-align: center;
    transition: background-color 0.5s ease-out 100ms;
}

#welcome{
    background-image: url("back1.png");
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    height: 500px;
    background-size: cover;
    font-size: 30px;
}

#welcome h1{
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    letter-spacing: 3px;
}

#desc{
    height: 500px;
    background-color: #E0DDAA;
    color: black;
}

#desc h1{
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}

.loginButton{
    float: right;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #D34715;
    margin: 0;
    height: 100%;
    vertical-align: center;
    transition: background-color 0.5s ease-out 100ms
}

.loginButton:hover{
    background-color: #C23604;
}

h1{
    margin: 10px;
}

.current{
    background-color: #C23604;
}

* {
scrollbar-width: auto;
scrollbar-color: #282429 #363636;
}

*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: #363636;
}

*::-webkit-scrollbar-thumb {
background-color: #282429;
border-radius: 10px;
border: 3px solid #616161;
}

.Tmake{
    background: none;
    border: none;
    padding: 4px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: black;
    font-size: 100%;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    transition: font-size 0.5s;
}

.Tmake:hover{
    font-size: 120%;
}

.member{
    margin: 1px;
    padding: none;
    margin-left: 10px;
}

.member:first-of-type{
    margin-top: 20px;
}

li h1{
    font-size: 26px;
}

li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 40px;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  align-self: flex-start;
  background-color: #E6D5B8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li + li {
  border-top: 2px solid rgba(255,255,255,0.2);
}

ul {
  counter-reset: index;  
  padding: 0;
  max-width: 50%;
  margin-right: 30px;

}

li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

.active, .collapsible:hover {
  background-color: #363F49;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}